.bg {
  /* margin: auto;
  display: flex;
  flex-direction: row; */
  margin: auto;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}

/************* Botones Home, Create & Refreash ***************/
.bgHyC {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

.bgHyC button {
  border-radius: 15px;
  margin: 2px;
  margin-right: 10px;
  height: 35px;
  width: 120px;
  padding: 5px;
  text-align: center;
  border: 1px solid #8f8e8e;

  font-family: "DM Sans", sans-serif;
  background: rgba(209, 196, 189, 0.69);
  font-size: 18px;
  font-weight: bold;
}

.bgHyC button:hover {
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid #313131;
}

/************* Search ***************/
.bgSearch {
  margin: 2px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

/************* SearchBar - Input ***************/
.bgIyBtn input {
  margin-right: 10px;
  border-radius: 20px;

  height: 23px;
  width: 180px;
  padding: 5px;
  text-align: left;
  border: 1px solid #8f8e8e;

  font-family: "DM Sans", sans-serif;
  background: rgba(209, 196, 189, 0.69);
  font-size: 15px;
  /* font-weight: bold; */
}

.bgIyBtn input:hover {
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid #313131;
}

.bgIyBtn input:focus {
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid #313131;
}

/************* SearchBar - Button ***************/
.bgIyBtn button {
  margin-right: 10px;
  border-radius: 20px;
  /* margin: 2px; */
  height: 35px;
  width: 120px;
  padding: 5px;
  text-align: center;
  border: 1px solid #8f8e8e;

  font-family: "DM Sans", sans-serif;
  background: rgba(209, 196, 189, 0.69);
  font-size: 18px;
  font-weight: bold;
}

.bgIyBtn button:hover {
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid #313131;
}
